
img{
    width: 270px;
    height: 100px;
}

.User{
    align-items: center;
}
.logo,h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.image,img{
    margin-left:  250px;
}